<launch>

  <!-- State Publisher -->
  <arg name="model" default="$(find gopigo3_navigation)/urdf/gopigo3.urdf"/>
  <arg name="gui" default="false"/>
  <param name="robot_description" textfile="$(arg model)"/>
  <param name="use_gui" value="$(arg gui)"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>


  <!-- Map Server -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find gopigo3_navigation)/config/maps/map.yaml">
    <param name="frame_id" value="odom" />
  </node> -->

  <!--  Amcl  -->
  <arg name="use_map_topic" default="true"/>
  <arg name="scan_topic" default="scan" />
  <node pkg="amcl" type="amcl" name="amcl">
    <!-- <rosparam command="load" file="$(find gopigo3_navigation)/config/amcl.yaml" /> -->
    <param name="use_map_topic" value="$(arg use_map_topic)"/> <!--  use map topic -->
    
    <!-- Publish scans from best pose at a max of 10 Hz -->
    <param name="odom_model_type" value="diff"/> <!-- ? -->
    <param name="gui_publish_rate" value="10.0"/> <!-- rate of published gui -->

    <param name="min_particles"             value="0"/> <!-- 500 -->
    <param name="max_particles"             value="10000000"/> <!-- 10000000 -->
    <param name="initial_pose_x"            value="$(arg initial_pose_x)"/>
    <param name="initial_pose_y"            value="$(arg initial_pose_y)"/>
    <param name="initial_pose_a"            value="$(arg initial_pose_a)"/>
    <param name="laser_max_beams" value="-0.1"/> <!-- laser max range -->

    <param name="odom_alpha1" value="0"/>
    <param name="odom_alpha2" value="0"/>
    <param name="odom_alpha3" value="0"/>
    <param name="odom_alpha4" value="0"/>
    <param name="odom_alpha5" value="0"/>
    
    <!-- Frame Param --> 
    <param name="odom_frame_id" value="odom"/>
    <param name="base_frame_id" value="base_link"/>
    <param name="global_frame_id" value="map"/>

  </node>

  <!-- Gmapping -->
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
    <rosparam>
      odom_frame: odom
      base_frame: base_link
      map_frame: map

      map_update_interval: 1.0  # Publish new map default 1.0

      #maxUrange: 5.5 # Should be just less than sensor range
      #maxRange: 6.1 # Should be just greater than sensor range
      particles: 120 # Increased from 80

      # Update frequencies
      linearUpdate: 0.3 #0.3
      angularUpdate: 0.5 #0.5
      temporalUpdate: -0.1 #-0.1
      resampleThreshold: 0.5

      # Initial Map Size
      xmin: -4.0 #-4.0
      ymin: -4.0 #-100
      xmax: 4.0 #100
      ymax: 4.0 #100
      delta: 0.05 #0.05

      # All default
      sigma: 0.05
      kernelSize: 1
      lstep: 0.05
      astep: 0.05
      iterations: 5
      lsigma: 0.075
      ogain: 3.0
      lskip: 0
      llsamplerange: 0.01
      llsamplestep: 0.01
      lasamplerange: 0.005
      lasamplestep: 0.005
   
      srr: 0
      srt: 0
      str: 0
      stt: 0

    </rosparam>
    <remap from="scan" to="$(arg scan_topic)"/>
  </node>


  <!-- Move_Base -->
  <arg name="no_static_map" default="false"/>
  <arg name="base_global_planner" default="navfn/NavfnROS"/>
  <arg name="base_local_planner" default="dwa_local_planner/DWAPlannerROS"/>
  <!-- <arg name="base_local_planner" default="base_local_planner/TrajectoryPlannerROS"/> -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <param name="base_global_planner" value="$(arg base_global_planner)"/>
    <param name="base_local_planner" value="$(arg base_local_planner)"/>
    <rosparam file="$(find gopigo3_navigation)/config/dwa_planner.yaml" command="load"/>

    <!-- observation sources located in costmap_common.yaml -->
    <rosparam file="$(find gopigo3_navigation)/config/costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find gopigo3_navigation)/config/costmap_common.yaml" command="load" ns="local_costmap" />

    <!-- local costmap, needs size -->
    <rosparam file="$(find gopigo3_navigation)/config/costmap_local.yaml" command="load" ns="local_costmap" />

    <!-- static global costmap, static map provides size -->
    <rosparam file="$(find gopigo3_navigation)/config/costmap_global_static.yaml" command="load" ns="global_costmap" unless="$(arg no_static_map)"/>

    <!-- global costmap with laser, for odom_navigation_demo -->
    <rosparam file="$(find gopigo3_navigation)/config/costmap_global_laser.yaml" command="load" ns="global_costmap" if="$(arg no_static_map)"/>
    <param name="global_costmap/width" value="10.0" if="$(arg no_static_map)"/>
    <param name="global_costmap/height" value="10.0" if="$(arg no_static_map)"/>
  </node>

</launch>
