<?xml version="1.0"?>
<launch>
  <arg name="use_compressed" default="true" />
  <group if="$(arg use_compressed)">
    <node name="right_compressed" pkg="image_transport" type="republish" args="compressed raw">
      <remap from="in" to="/stereo/right/image_raw" />
      <remap from="out" to="/right_compressed" />
    </node>
    <node name="left_compressed" pkg="image_transport" type="republish" args="compressed raw">
      <remap from="in" to="/stereo/left/image_raw" />
      <remap from="out" to="/left_compressed" />
    </node>
  </group>
</launch>
